<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel='stylesheet' type='text/css' href='/static/bootstrap/css/bootstrap.css'>
	<script src="/static/angular.min.js"></script>
	<script src="/static/angular-resource.min.js"></script>
	<script src="/static/angularui.min.js"></script>
 	<script type="text/javascript" src="/static/jquery-2.1.0.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>
  <script src="http://underscorejs.org/underscore-min.js" type="text/javascript"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1"> 	

  <style>
    .pose_button {
      margin-right:1%;
      margin-bottom:1%;
      padding: 1.2em;
    }

    .poses-button:hover{
      background-color: #333;
      text-decoration: underline;
      box-shadow: 2.4px 2.4px 1.2px #666;
      color:#fff;
    }

    .title {
      font-family: Arial;
      color: #333;
      letter-spacing: 1.2px;
      padding-right: 4.5%;

    }

    .title:hover {
      color:#666;
    }

    .pose_title {
      font-family:Verdana;
      color: #999;
      font-weight: 400;
      letter-spacing: 1.2px;
    }

    img {
      width: 100%;
      float: left;
      margin: 4%;
    }

  </style>

<script type="text/javascript">
    var underscore = angular.module('underscore', []);
    underscore.factory('_', function() {
      return window._; // assumes underscore has already been loaded on the page
    });


   var JeffCaStretching = angular.module('JeffCaStretching', ['ngResource', 'underscore']);

    // JeffCaStretching.factory("Comps", function($resource) {
    //     return $resource("/api/comps/:Id", { Id: "@Id"}, {
    //       "update": {method:"PUT"}, 
    //       "query": { method:"GET", isArray: false, transformResponse: function(data) { return angular.fromJson(data).objects; } }
    //     });
    // });

    JeffCaStretching.config(function($routeProvider) {
       $routeProvider
        .when('/', { controller: 'PracticeController', templateUrl: '/static/partials/practice.html' })
        .when('/tests', { controller: 'MyController', templateUrl: '/static/partials/home.html' })
        .otherwise({ redirectTo: '/'});
    });

    JeffCaStretching.controller('MyController', function($scope, $rootScope, $http, $location,  _) {
        function shuffle(array) {
            for (var i = array.length - 1; i > 0; i--) {
                var j = Math.floor(Math.random() * (i + 1));
                var temp = array[i];
                array[i] = array[j];
                array[j] = temp;
            }
            return array;
        }
        var req = {
          method: 'GET',
          url: 'https://api.fieldbook.com/v1/57ca5f20e13ef4030064f045/tests/',
          headers: {
           'Authorization': 'Basic ' + btoa('key-1:7pvF0z57nOLkFi7hGiMa')
          },
        };
        $http(req).success(function(data) {
          $scope.tests=data;
          console.log(data);
        });

      $scope.newVocabularyTest=function() {
        var req = {
          method: 'GET',
          url: 'https://api.fieldbook.com/v1/57ca5f20e13ef4030064f045/vocabulary_tests/',
          headers: {
           'Authorization': 'Basic ' + btoa('key-1:7pvF0z57nOLkFi7hGiMa')
          },
        };
        var tests = [1,2,3]
        shuffle(tests);
        $http(req).success(function(data){
          $scope.vocabulary=_.where(data,{"testtype":"sentence"});
          shuffle($scope.vocabulary);
          console.log($scope.vocabulary);
          $scope.currentIndex=0;
          $scope.question=$scope.vocabulary[$scope.currentIndex];
          $scope.array1=["choicea","choiceb","choicec","choiced","correctchoice"];
          shuffle($scope.array1);
          $scope.choicea=$scope.vocabulary[$scope.currentIndex][$scope.array1[0]];
          $scope.choiceb=$scope.vocabulary[$scope.currentIndex][$scope.array1[1]];
          $scope.choicec=$scope.vocabulary[$scope.currentIndex][$scope.array1[2]];
          $scope.choiced=$scope.vocabulary[$scope.currentIndex][$scope.array1[3]];
          $scope.correctchoice=$scope.vocabulary[$scope.currentIndex][$scope.array1[4]];
        });
        $scope.message="";
        $scope.choice={};        
        $scope.results=0;
      }
      $scope.newWordTest=function() {
        var req = {
          method: 'GET',
          url: 'https://api.fieldbook.com/v1/57ca5f20e13ef4030064f045/vocabulary_tests/',
          headers: {
           'Authorization': 'Basic ' + btoa('key-1:7pvF0z57nOLkFi7hGiMa')
          },
        };
        $http(req).success(function(data){
          $scope.vocabulary=_.where(data,{"testtype":"word"});
          shuffle($scope.vocabulary);
          console.log($scope.vocabulary);
          $scope.currentIndex=0;
          $scope.question=$scope.vocabulary[$scope.currentIndex];
          $scope.array1=["choicea","choiceb","choicec","choiced","correctchoice"];
          shuffle($scope.array1);
          $scope.choicea=$scope.vocabulary[$scope.currentIndex][$scope.array1[0]];
          $scope.choiceb=$scope.vocabulary[$scope.currentIndex][$scope.array1[1]];
          $scope.choicec=$scope.vocabulary[$scope.currentIndex][$scope.array1[2]];
          $scope.choiced=$scope.vocabulary[$scope.currentIndex][$scope.array1[3]];
          $scope.correctchoice=$scope.vocabulary[$scope.currentIndex][$scope.array1[4]];
        });
        $scope.choice={};        
        $scope.message="";
        $scope.results=0;
      }
      $scope.newDefinitionTest=function() {
        var req = {
          method: 'GET',
          url: 'https://api.fieldbook.com/v1/57ca5f20e13ef4030064f045/vocabulary_tests/',
          headers: {
           'Authorization': 'Basic ' + btoa('key-1:7pvF0z57nOLkFi7hGiMa')
          },
        };
        $http(req).success(function(data){
          $scope.vocabulary=_.where(data,{"testtype":"definition"});
          shuffle($scope.vocabulary);
          console.log($scope.vocabulary);
          $scope.currentIndex=0;
          $scope.question=$scope.vocabulary[$scope.currentIndex];
          $scope.array1=["choicea","choiceb","choicec","choiced","correctchoice"];
          shuffle($scope.array1);
          $scope.choicea=$scope.vocabulary[$scope.currentIndex][$scope.array1[0]];
          $scope.choiceb=$scope.vocabulary[$scope.currentIndex][$scope.array1[1]];
          $scope.choicec=$scope.vocabulary[$scope.currentIndex][$scope.array1[2]];
          $scope.choiced=$scope.vocabulary[$scope.currentIndex][$scope.array1[3]];
          $scope.correctchoice=$scope.vocabulary[$scope.currentIndex][$scope.array1[4]];
        });
        $scope.choice={};        
        $scope.message="";
        $scope.results=0;
      }      
      $scope.submit=function(){
        console.log($scope.choice.answer);
        console.log($scope.question.correctchoice);    
        if ($scope.choice.answer==$scope.question.correctchoice) {
          $scope.results+=1;
          $scope.message="correct";
          console.log("Correct!");
        } else {
          $scope.message="incorrect";
          console.log("incorrect.")
        }
        $scope.currentIndex+=1;
          $scope.array1=["choicea","choiceb","choicec","choiced","correctchoice"];
          shuffle($scope.array1); 
          $scope.choicea=$scope.vocabulary[$scope.currentIndex][$scope.array1[0]];
          $scope.choiceb=$scope.vocabulary[$scope.currentIndex][$scope.array1[1]];
          $scope.choicec=$scope.vocabulary[$scope.currentIndex][$scope.array1[2]];
          $scope.choiced=$scope.vocabulary[$scope.currentIndex][$scope.array1[3]];
          $scope.correctchoice=$scope.vocabulary[$scope.currentIndex][$scope.array1[4]];
        if ($scope.currentIndex!=9) {
          $scope.question=$scope.vocabulary[$scope.currentIndex];
        } else {
          console.log("test is over.");
        }     
      }
    });

    JeffCaStretching.controller('PracticeController', function($scope, $rootScope, $http, $location, _) {                          
      var req = {
        "method": "GET",
          url: 'https://api.fieldbook.com/v1/57ca5f20e13ef4030064f045/words/',
          headers: {
           'Authorization': 'Basic ' + btoa('key-1:7pvF0z57nOLkFi7hGiMa')
          },        
      };
      $http(req).success(function(data) {
          $scope.words=data;
          console.log(data);
      });
      $scope.startPack=function(packid){
        $scope.packwords = _.where($scope.words, {"packid":packid});
      };
    });

    JeffCaStretching.controller('MuscleController', function($scope, $rootScope, $http, $location, Muscle, Pose, Muscle_Pose, _) {
      var poses = Muscle_Pose.query(function() {
        $http.get('/api/Muscle_Pose').success(function(data) {
          $scope.poses = _.where(data.objects, {muscle_id:$rootScope.muscle_id});
          $scope.pose_names = _.pluck($scope.poses, "pose");
        });
      });

      $scope.filterPose = function(id) {
        $rootScope.pose_id = id;
        $location.path("/pose");
      };        
    });


</script>

</head>

<body>
<div class="container" data-role="page" itemscope itemtype="http://schema.org/GovernmentOrganization">

<div ng-app="JeffCaStretching" class="col-md-12">

{% block body %}


{% endblock %}

</div>
</body>

</html>