Flask==0.10.1
Flask-Bcrypt==0.5.2
Flask-Cors==2.1.2
Flask-GoogleAuth==0.4.2
Flask-Mail==0.9.0
Flask-OpenID==1.2.1
Flask-RESTful==0.2.12
Flask-Restless==0.12.0
Flask-SQLAlchemy==1.0
HTMLParser==0.0.2
Jinja2==2.8
Twisted==12.2.0
fieldbook-py==0.2.6
flask-peewee==0.6.6
gunicorn==0.17.2
heroku==0.1.4
httplib2==0.8
peewee==2.6.4
virtualenv==1.9.1