<title>Jeff Cairns' Recipes</title>

<div id="app">




  <div class="jumbotron">
  <h1 class="display-4">{{recipe.recipe}}</h1>
  <!--<p class="lead">${{recipe.price}}</p>-->
  
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/#" role="button">Back</a>
  </p>
    </div>



<div class="card text-center">
  <img class="card-img-top" src="{{recipe.menuimgurl}}" />
  <div class="card-body">
  <h3 class="card-title" ng-repeat="i in ingredients">
    <p>{{i}}</p>
  </h3>
  <h4s>Instructions</h4s>
  <p class="card-text" ng-repeat="i in instructions">
    <span>{{i}}</span>
  </p>
  </div>
</div>

    <img src="/static/images/gifs/loading.gif" ng-show="loading">

</div>
</body>