

<body>	

<div id="app">

<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">You are now viewing Jeff Cairns' recipes.</p>
  <hr class="my-4">
<!--   <p class="lead">
    <a class="btn btn-primary btn-lg" href="#/detail" role="button">Learn more</a>
  </p>
 --></div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos1">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos2">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos3">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos4">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos5">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos6">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos7">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos8">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos9">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos10">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos11">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos12">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos13">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>

<!-- <div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos14">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div>
 -->
<!-- <div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos15">
 <img class="img-thumbnail" src="{{photo.menuimgurl}}" alt="Card image cap">
 <button ng-click="showDetail(photo.recipe)" class="btn btn-primary btn-lg">Cook {{photo.recipe}}</button>
</div>
</div> -->

</div>



</div>


</body>
