<title>GRE Practice</title>
<meta name="description" content="Study for the Graduate Record Exam (GRE) using practice tests.">
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42751448-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script> 

  <div class="row">
    <smamll>from the <i>New York Times</i></small>
  </div>
<!--   <div class="row">
    <small>Questions? Contact jeff12ca@gmail.com</small>
  </div>   -->

  <div>
    <div ng-repeat="w in words | orderBy:'word'" class="col-md-6 col-md-offset-3">
      <!-- <h3>{{w.word}}</h3> -->
      <div>
        <div class="center"><em>{{w.nounsentence}}</em></div>
        <div class="center"><em>{{w.verbsentence}}</em></div>
        <div class="center"><em>{{w.adjectivesentence}}</em></div>
        <div class="center" style="text-align: center;"><b >{{w.word}}</b></div>
        <p>&nbsp;</p>
        <!-- <p>&nbsp;</p> -->
		<!-- <p class="center" style="text-align: center;"><a ng-click="next()">Next Sentence</a></p>   -->
      </div>            
  </div>

</div>
