<title>Jeff Cairns' Photography</title>
<meta name="description" content="Jeff Cairns' Photography">

{% block head %}


<style>
  .header {
    margin-bottom: 1%
  }    
  .header > a {
    color: black;
  }

</style>

<script>
  (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-84128605-1', 'auto');
ga('send', 'pageview');
</script>


<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
</script> 
{% endblock %}


{% extends 'base.html' %}


{% block body %}

  <div class="container">
      <h1 class="text-center header"><a style="font-family:Helvetica;" href="/" alt="GRE">Jeff Cairns' Photography</a></h1>      
  </div>

  {% raw %}
  <div data-ng-view="">


  </div>
  {% endraw %}

{% endblock %}
