<title>GRE Practice</title>
<meta name="description" content="Study for the Graduate Record Exam (GRE) using practice tests.">
  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-42751448-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script> 

  <div class="row">
    <h1>Welcome to studying vocabulary!</h1>
  </div>
  <div class="row">
    <p>In 2012, 700,000 students were taking the GRE per year. Let's start studying!</p>
  </div>
<!--   <div class="row">
    <small>Questions? Contact jeff12ca@gmail.com</small>
  </div>   -->
<div class="col-md-6 row" ng-hide="w.noundefinition">


  <div><a ng-hide="packwords" ng-click="startPack(1)">Start pack #1</a>
  </div>
  <div><a ng-hide="packwords" ng-click="startPack(2)">Start pack #2</a>
  </div>
  <div><a ng-hide="packwords" ng-click="startPack(3)">Start pack #3</a>
  </div>
  <div><a ng-hide="packwords" ng-click="startPack(4)">Start pack #4</a>
  </div>
  <div><a ng-hide="packwords" ng-click="startPack(5)">Start pack #5</a>
  </div>
  <div><a ng-hide="packwords" ng-click="startPack(6)">Start pack #6</a>
  </div>
  <div><a ng-hide="packwords" ng-click="startPack(7)">Start pack #7</a>
  </div>
  <div><a ng-hide="packwords" ng-click="startPack(8)">Start pack #8</a>
  </div>
  <div><a ng-hide="packwords" ng-click="startPack(9)">Start pack #9</a>
  </div>
  <div><a ng-hide="packwords" ng-click="startPack(10)">Start pack #10</a>
  </div>
</div> 
</div>
  <div>
    <div ng-repeat="w in packwords | orderBy:'word'" class="col-md-6 col-md-offset-3">
      <h3 ng-click="showDefinition = ! showDefinition">{{w.word}}</h3>
      <div id="{{w['word']}}">
        <div ng-hide="!w.noundefinition"><strong>noun:</strong> {{w.noundefinition}}</div>
        <div ng-hide="!w.verbdefinition"><strong>verb:</strong> {{w.verbdefinition}}</div>
        <div ng-hide="!w.adjectivedefinition"><strong>adjective:</strong> {{w.adjectivedefinition}}</div>
        <p><a ng-click="showSentence =! showSentence">Show Sentence</a></p>
        <div ng-hide="!w.nounsentence" ng-show="showSentence"><em>{{w.nounsentence}}</em></div>
        <div ng-hide="!w.verbsentence" ng-show="showSentence"><em>{{w.verbsentence}}</em></div>
        <div ng-hide="!w.adjectivesentence" ng-show="showSentence" onClick="_gaq.push(['_trackEvent', 'Show Sentence Click', 'Click', this.title]);"><em>{{w.adjectivesentence}}</em></div>
      </div>            
  </div>

  <div ng-hide="!packwords" class="col-md-6 row">
  <div><a ng-click="startPack(1)">Start pack #1</a>
  </div>    
  <div><a ng-click="startPack(2)">Start pack #2</a>
  </div>
  <div><a ng-hide="!packwords" ng-click="startPack(3)">Start pack #3</a>
  </div>
  <div><a ng-hide="!packwords" ng-click="startPack(4)">Start pack #4</a>
  </div>
  <div><a ng-hide="!packwords" ng-click="startPack(5)">Start pack #5</a>
  </div>
  <div><a ng-hide="!packwords" ng-click="startPack(6)">Start pack #6</a>
  </div>
  <div><a ng-hide="!packwords" ng-click="startPack(7)">Start pack #7</a>
  </div>
  <div><a ng-hide="!packwords" ng-click="startPack(8)">Start pack #8</a>
  </div>
  <div><a ng-hide="!packwords" ng-click="startPack(9)">Start pack #9</a>
  </div>
  <div><a ng-hide="!packwords" ng-click="startPack(10)">Start pack #10</a>
  </div>

</div>
