
<style>

  ol li {
    clear: left;
    margin-top: 3%;
  }

  #q {
  	font-size: 11pt;
  }

</style>


<div class="col-md-12">
  <button ng-repeat="category in categories" class="btn btn-primary btn-xlarge" ng-click="filterCategory(category.id)">{{category.Name}}</button>
</div>

<div class="col-md-9">
<ol id="questions">
	<li ng-repeat="question in questions">{{question.Text}}	<button class="btn btn-sm btn-success pull-right" ng-click="addQuestion(question.id)">Add</button><ol ng-show="question.HasSubQuestion"><li>her</li></ol></li>
</ol>
</div>

<div class="col-md-3">

	<table class="table table-striped">
		<tr>
			<td>Count:</td><td>{{questionCount}}</td>
		</tr>
<!-- 		<tr ng-repeat="question in questionCartReadable">
			<td id="q"><small>{{question}}</small>	<button class="btn btn-xs btn-warning pull-right" ng-click="removeQuestion(question.id)">Remove</button></td>
		</tr>
 -->
	</table>

</div>

