<!DOCTYPE HTML>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" type='text/css'>
  <!-- // <script src="/static/angulartics-google-analytics/dist/angulartics-ga.min.js"></script> -->
  <!-- // <script src="/static/angulartics/dist/angulartics.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.js"></script> 
    <script src="/static/angular-resource.min.js"></script>
  	<script src="/static/angularui.min.js"></script>
   	<script type="text/javascript" src="/static/jquery-2.1.0.min.js"></script>
  	<script src="/static/bootstrap/js/bootstrap.js" type="text/javascript"></script>
  	<meta name="viewport" content="width=device-width, initial-scale=1"> 	

<script type="text/javascript">

    var underscore = angular.module('underscore', []);
    underscore.factory('_', ['$window', function($window) {
      return $window._; // assumes underscore has already been loaded on the page
    }]);

   var JeffCaRecipes = angular.module('JeffCaRecipes', ['ngResource', 'underscore']);
   // var JeffCaRecipes = angular.module('JeffCaRecipes', ['ngResource', 'underscore', 'angulartics-google-analytics']);
    // JeffCaRecipes.factory("Comps", function($resource) {
    //     return $resource("/api/comps/:Id", { Id: "@Id"}, {
    //       "update": {method:"PUT"}, 
    //       "query": { method:"GET", isArray: false, transformResponse: function(data) { return angular.fromJson(data).objects; } }
    //     });
    // });

    JeffCaRecipes.config(function($routeProvider) {
       $routeProvider
        .when('/', { controller: 'HomeController', templateUrl: '/static/partials/index.html' })
        .when('/detail', { controller: 'DetailController', templateUrl: '/static/partials/detail.html' })
        // .when('/flashcards', { controller: 'FlashcardsController', templateUrl: '/static/partials/flashcards.html' })
        // .when('/sentences', { controller: 'SentencesController', templateUrl: '/static/partials/sentences.html' })
        .otherwise({ redirectTo: '/'});
    });


    JeffCaRecipes.controller('HomeController', function($scope, $rootScope, $http, $location, _) {                          
      var req = {
        "method": "GET",
          url: '/recipes'
      };
      $http(req).success(function(data) {
          $scope.recipes=data;
          console.log($scope.recipes);                                                                                                                            
      });

      $scope.showDetail=function(recipe) {
        $rootScope.recipe=recipe;
        console.log(recipe);
        $location.url('/detail');
      };
    });

    JeffCaRecipes.controller('DetailController', function($scope, $rootScope, $http, $location, _) {                          
      var req = {
        "method": "GET",
          url: 'https://api.fieldbook.com/v1/567333c2c16c410300d20da4/recipes'
      };
      $http(req).success(function(data) {
        console.log(data);
        var photos = _.where(data, {"recipe":$rootScope.recipe});
        $scope.ingredients = _.pluck(photos,"ingredients")[0].split(";");
        console.log($scope.ingredients);
        $scope.instructions = _.pluck(photos,"instructions")[0].split(".");
        $scope.menuprice = _.pluck(photos,"menuprice")[0];
        $scope.recipe = _.pluck(photos,"recipe")[0];
        $scope.photos1 = photos;
        // console.log($scope.photos1);
      });
    });

</script>

  <style>
    #footer {
      text-align: center;
      font-family: Helvetica, Arial;
      clear: left;
      font-size: 9pt;
    }

    .card-img-top {
      padding-left: 2%;
      width: 20em;
      margin-right: 20%;
      height: 19em;
    }

    #home > .card {
      width: 21em;
      float: left;
      margin-left: 1%;
      margin-bottom: 2%;
    }

    #home .card-body > button {
      margin-bottom: 2%;
      margin-top: 1%;
      width: 14em;
    }
  </style>

</head>

<body>
<div class="container">

<div ng-app="JeffCaRecipes"oo>

{% block body %}


{% endblock %}

<div class="text-center">
  <!-- <button class="btn btn-success">Buy Premium</button> -->
</div>

<p>&nbsp;</p>

<div id="footer">
  <p>©2018 JeffCa. All rights reserved. <a href="mailto:jeff12ca@gmail.com" alt="email">Contact Us</a></p>
</div>


</div>
</body>

</html>