<!DOCTYPE HTML>
<html lang="en">
<head>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous" type='text/css'>
      <link rel="stylesheet" href="/static/ng-tags-input.bootstrap.min.css" type='text/css'>
      <link rel="stylesheet" href="/static/ng-tags-input.min.css" type='text/css'>

    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore.js"></script>-->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.18/angular-ui-router.min.js"></script>
    <script src="/static/ng-tags-input.min.js"></script>
  	<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript">

    var JeffCaRecipes = angular.module('JeffCaRecipes', ['ui.router']);

    JeffCaRecipes.config(function($stateProvider, $urlRouterProvider) {
       $urlRouterProvider.otherwise("/");
       $stateProvider
           .state('home', {templateUrl: '/static/partials/index.html', controller:'HomeController', url:'/'})
           .state('detail', {templateUrl: '/static/partials/detail.html', controller:'DetailController', url:'/detail/:id'})
    });


    JeffCaRecipes.controller('HomeController', function($scope, $rootScope, $http) {
      var req = {
        "method": "GET",
          url: '/recipes'
      };
      $http(req).then(function(response) {
          $scope.recipes=response.data;
      });
    });

    JeffCaRecipes.controller('DetailController', function($scope, $rootScope, $http, $stateParams) {
        $scope.loading = true;
        var req = {
        "method": "GET",
          url: '/recipes'
      };
      $http(req).then(function(response) {
        console.log(response.data);
        for (var i = 0; i < response.data.length; i++) {
            if (response.data[i].id == $stateParams.id) {
                $scope.recipe = response.data[i];
                $scope.ingredients = response.data[i].ingredients.split(";");
                $scope.instructions = response.data[i].instructions.split(".");
                $scope.loading = false;
            }
        }
        // $scope.recipe = .where(response.data, {"id":stateParams.id});
      });
    });

</script>

  <style>
    #footer {
      text-align: center;
      font-family: Helvetica, Arial;
      clear: left;
      font-size: 9pt;
    }

    .card-img-top img {
      width: 18rem;
      height: 28rem;
    }

    #home > .card {
      width: 21em;
      float: left;
      margin-left: 1%;
      margin-bottom: 2%;
    }

    .card img {
      height: 360px;
    }

    #home .card-body > a {
      margin-bottom: 2%;
      margin-top: 1%;
      width: 14em;
    }
  </style>

</head>

<body>
<div class="container">

<div ng-app="JeffCaRecipes">

{% block body %}


{% endblock %}

<div class="text-center">
  <!-- <button class="btn btn-success">Buy Premium</button> -->
</div>

<p>&nbsp;</p>

<div id="footer">
  <p>©2018 JeffCa. All rights reserved. <a href="mailto:jeff12ca@gmail.com" alt="email">Contact Us</a></p>
</div>


</div>
</body>

</html>