<title>Jeff Cairns' Recipes</title>
<meta name="description" content="Jeff Cairns' Recipes">

{% extends 'base.html' %}

{% block body %}

  <div class="jumbotron">
    <h1 class="display-4 text-center">Welcome!</h1>
    <p class="lead text-center">Select a category below to find recipes.</p>
    <hr class="my-4">
  </div>

  <ul class="multi-column">
  {% for c in categories %}
    <a href="/category/{{c.id}}"><li class="list-group-item list-group-item-action">{{c.category}}</li></a>
  {% endfor %}
  </ul>

  <a href="/newRecipe"><button class="btn btn-lg btn-primary">Add New Recipe</button></a>
  
  <a href="/newCategoryMapping"><button class="btn btn-lg btn-primary">Add New Category</button></a>

{% endblock %}

