<title>GRE Practice Tests</title>

<div id="app">



  <div class="jumbotron">
  <h1 class="display-4">{{category}}</h1>
<!--   <p class="lead">Welcome to Jeff Cairns' website for selling photographs. All of the below photographs were taken by Jeff Cairns from around the world. Select a category below to find similar pictures like the one in the cover.</p>
 -->  
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/#" role="button">Back</a>
  </p>
</div>


<div ng-repeat="photo in photos1" class="card text-center">
  <img class="card-img-top" src="{{photo.url}}" />
  <div class="card-body">
  <h5 class="card-title">{{photo.description}}</h5>
  <p class="card-text">{{photo.story}}</p>
  </div>
</div>

<!-- 
<div class="card-deck">

  <div class="card text-center">
    <img class="card-img-top" src="/static/images/img/imgsvr456.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Duck at Sunset</h5>
    </div>
    <div class="card-footer">
      <small class="text-muted"><button type="button" class="btn btn-dark">Buy now $9.99</button></small>
    </div>
  </div>

</div> -->

        <!-- <script type="text/javascript" src="index.js"></script> -->

</body>