

<body>	

<div id="app">

<div class="jumbotron">
  <h1 class="display-4">Welcome!</h1>
  <p class="lead">You are now viewing Jeff Cairns' photographs. All of the below photographs were taken by Jeff Cairns from around the world. Select a category below to find similar pictures.</p>
  <hr class="my-4">
<!--   <p class="lead">
    <a class="btn btn-primary btn-lg" href="#/detail" role="button">Learn more</a>
  </p>
 --></div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos1">
 <img class="img-thumbnail" src="{{photo.url}}" alt="Card image cap">
 <button ng-click="showDetail(photo.categoryid)" class="btn btn-primary btn-lg">More photographs of {{photo.category}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos2">
 <img class="img-thumbnail" src="{{photo.url}}" alt="Card image cap">
 <button ng-click="showDetail(photo.categoryid)" class="btn btn-primary btn-lg">More photographs of {{photo.category}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos3">
 <img class="img-thumbnail" src="{{photo.url}}" alt="Card image cap">
 <button ng-click="showDetail(photo.categoryid)" class="btn btn-primary btn-lg">More photographs of {{photo.category}}</button>
</div>
</div>

<div class="card-deck">
<div class="card text-center" ng-repeat="photo in photos4">
 <img class="img-thumbnail" src="{{photo.url}}" alt="Card image cap">
 <button ng-click="showDetail(photo.categoryid)" class="btn btn-primary btn-lg">More photographs of {{photo.category}}</button>
</div>
</div>


</div>



</div>


</body>
